registry=http://nexus/content/groups/alm_public_read_npm/
@types:registry=https://registry.npmjs.org
@angular:registry=https://registry.npmjs.org
@schematics:registry=https://registry.npmjs.org
@angular-devkit:registry=https://registry.npmjs.org
@ngtools:registry=https://registry.npmjs.org
@ngrx:registry=https://registry.npmjs.org
