@import "~element.ui/modules/core";
@import "~element.ui/modules/buttons";
@import "../../assets/variables";

.user-area {
    display: flex;
    align-items: center;
    max-height: 100%;
    margin-left: auto;
    img {
      align-self: stretch;
      margin-left: 1.3em;
      border-radius: 50%;
      height: calc(#{$header-height} - 1em);
      width: calc(#{$header-height} - 1em);
    }
    span {
      font-size: .9em;
    }
  }